@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listaRol = (List<BanBif.Nuevo.Pandora.BE.NewPandoraRolBE>)ViewBag.ListaRol;
}

@Html.Hidden("hdn_Listar_Usuario", Url.Action("Listar", "Usuario"))
@Html.Hidden("hdn_Obtener_Usuario", Url.Action("Obtener", "Usuario"))
@Html.Hidden("hdn_Crear_Usuario", Url.Action("Crear", "Usuario"))
@Html.Hidden("hdn_Modificar_Usuario", Url.Action("Modificar", "Usuario"))

<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Session</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">21,459</h4>
                            <small class="text-success">(+29%)</small>
                        </div>
                        <small>Total Users</small>
                    </div>
                    <span class="badge bg-label-primary rounded p-2">
                        <i class="bx bx-user bx-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Paid Users</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">4,567</h4>
                            <small class="text-success">(+18%)</small>
                        </div>
                        <small>Last week analytics </small>
                    </div>
                    <span class="badge bg-label-danger rounded p-2">
                        <i class="bx bx-user-plus bx-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Active Users</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">19,860</h4>
                            <small class="text-danger">(-14%)</small>
                        </div>
                        <small>Last week analytics</small>
                    </div>
                    <span class="badge bg-label-success rounded p-2">
                        <i class="bx bx-group bx-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Pending Users</span>
                        <div class="d-flex align-items-end mt-2">
                            <h4 class="mb-0 me-2">237</h4>
                            <small class="text-success">(+42%)</small>
                        </div>
                        <small>Last week analytics</small>
                    </div>
                    <span class="badge bg-label-warning rounded p-2">
                        <i class="bx bx-user-voice bx-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->
<div class="card">
    <div class="card-header border-bottom">
        <h5 class="card-title">Search Filter</h5>
        <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
            <div class="col-md-4 user_role"></div>
            <div class="col-md-4 user_plan"></div>
            <div class="col-md-4 user_status"></div>
        </div>
    </div>
    <div class="card-datatable table-responsive">
        <table class="datatables-users table border-top">
            <thead>
                <tr>
                    <th></th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Accioness</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Offcanvas to add new user -->
    <div class="offcanvas offcanvas-end"
         tabindex="-1"
         id="offcanvasAddUser"
         aria-labelledby="offcanvasAddUserLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Agregar Usuario</h5>
            <button type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0">
            <form class="add-new-user pt-0" id="addNewUserForm" onsubmit="return false">
                @Html.Hidden("hdn_user_id", "0")
                <div class="mb-3">
                    <label class="form-label" for="add-user-fullname">Usuario Windows</label>
                    <input type="text"
                           class="form-control"
                           id="add-user-windows"
                           placeholder="John Doe"
                           name="userWindowsname"
                           aria-label="John Doe" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-fullname">Nombre Completo</label>
                    <input type="text"
                           class="form-control"
                           id="add-user-fullname"
                           placeholder="John Doe"
                           name="userFullname"
                           aria-label="John Doe" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-email">Email</label>
                    <input type="text"
                           id="add-user-email"
                           class="form-control"
                           placeholder="john.doe@example.com"
                           aria-label="john.doe@example.com"
                           name="userEmail" />
                </div>
                @*<div class="mb-3">
                        <label class="form-label" for="add-user-contact">Contact</label>
                        <input type="text"
                               id="add-user-contact"
                               class="form-control phone-mask"
                               placeholder="+1 (609) 988-44-11"
                               aria-label="john.doe@example.com"
                               name="userContact" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="add-user-company">Company</label>
                        <input type="text"
                               id="add-user-company"
                               class="form-control"
                               placeholder="Web Developer"
                               aria-label="jdoe1"
                               name="companyName" />
                    </div>*@
                @*<div class="mb-3">
                        <label class="form-label" for="country">Country</label>
                        <select id="country" class="select2 form-select">
                            <option value="">Select</option>
                            <option value="Australia">Australia</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Japan">Japan</option>
                            <option value="Korea">Korea, Republic of</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Russia">Russian Federation</option>
                            <option value="South Africa">South Africa</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                        </select>
                    </div>*@
                <div class="mb-3">
                    <label class="form-label" for="user-role">Rol</label>
                    <select id="user-role" class="form-select">
                        @foreach (var item in listaRol)
                        {
                            <option value="@item.IdRol">@item.NombreRol</option>
                        }
                    </select>
                </div>
                @*<div class="mb-4">
                        <label class="form-label" for="user-plan">Select Plan</label>
                        <select id="user-plan" class="form-select">
                            <option value="basic">Basic</option>
                            <option value="enterprise">Enterprise</option>
                            <option value="company">Company</option>
                            <option value="team">Team</option>
                        </select>
                    </div>*@
                <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" id="btn_usuario">Registrar</button>
                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </form>
        </div>
    </div>
</div>
<!-- Page JS -->
@section Scripts
{
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/jszip/jszip.js"></script>
    <script src="../../assets/vendor/libs/pdfmake/pdfmake.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/buttons.html5.js"></script>
    <script src="../../assets/vendor/libs/datatables-buttons/buttons.print.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>

    <script src="~/assets/js/app-user-list.js"></script>
    <script>
        $(document).ready(function () {

            //$("#btn_usuario").click(function () {
            //    //if (!$("form#addNewUserForm").valid()) {
            //    //    alert("ddasda");
            //    //    return false;
            //    //} else {
            //        alert("Grabacion");
            //    //s}
            //})
        })
        function NuevoUsuario() {

            $("#offcanvasAddUserLabel").html("Agregar Usuario");
            $('#hdn_user_id').val("0");
            $('#add-user-windows').val("");
            $('#add-user-fullname').val("");
            $('#add-user-email').val("");
            $('#user-role').val("1");
            $("#btn_usuario").html("Registrar")
            
        }
        function ObtenerUsuario(event, id) {
            event.stopPropagation()
            var Usuario = {};
            Usuario.IdUsuario = id;


            $.ajax({
                url: $("#hdn_Obtener_Usuario").val(),
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(Usuario),
                success: function (response) {
                    $("#btn_usuario").html("Modificar")
                    $("#offcanvasAddUserLabel").html("Modificar Usuario");

                    $('#hdn_user_id').val(response.data.IdUsuario);
                    $('#add-user-windows').val(response.data.UsuarioWindows);
                    $('#add-user-fullname').val(response.data.Nombre);
                    $('#add-user-email').val(response.data.Correo);
                    $('#user-role').val(response.data.IdRol);

                    var myOffcanvas = document.getElementById('offcanvasAddUser')
                    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                    bsOffcanvas.show()
                },
                failure: function (msg) {
                    debugger
                    console.log(msg);
                    // $.unblockUI();
                },
                error: function (xhr, status, error) {
                    debugger
                    console.log(error);
                    //$.unblockUI();
                },
                complete: function () {
                    debugger
                    //$.unblockUI();
                    //$("#prueba").dialog("close")
                }
            });

        }




    </script>
}